fastapi==0.110.1
uvicorn==0.29.0
fastapi-offline==1.7.3
requests==2.32.4
python-multipart==0.0.9
transformers==4.52.4
scipy==1.16.0
hdbscan==0.8.40
matplotlib==3.10.6
pandas==2.3.2
accelerate==1.10.1
peft>=0.10.0
tensorboard
websockets
